<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User-Creation-Screen</title>
    <meta
      property="og:title"
      content="User-Creation-Screen"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {
        line-height: 1.15;
      }
      body {
        margin: 0;
      }
      * {
        box-sizing: border-box;
        border-width: 0;
        border-style: solid;
      }
      p,
      li,
      ul,
      pre,
      div,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      figure,
      blockquote,
      figcaption {
        margin: 0;
        padding: 0;
      }
      button {
        background-color: transparent;
      }
      button,
      input,
      optgroup,
      select,
      textarea {
        font-family: inherit;
        font-size: 100%;
        line-height: 1.15;
        margin: 0;
      }
      button,
      select {
        text-transform: none;
      }
      button,
      [type="button"],
      [type="reset"],
      [type="submit"] {
        -webkit-appearance: button;
      }
      button::-moz-focus-inner,
      [type="button"]::-moz-focus-inner,
      [type="reset"]::-moz-focus-inner,
      [type="submit"]::-moz-focus-inner {
        border-style: none;
        padding: 0;
      }
      button:-moz-focus,
      [type="button"]:-moz-focus,
      [type="reset"]:-moz-focus,
      [type="submit"]:-moz-focus {
        outline: 1px dotted ButtonText;
      }
      a {
        color: inherit;
        text-decoration: inherit;
      }
      input {
        padding: 2px 4px;
      }
      img {
        display: block;
      }
      html {
        scroll-behavior: smooth;
      }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div>
      <link href="./user-creation-screen.css" rel="stylesheet" />

      <div class="user-creation-screen-container">
        <h1 class="user-creation-screen-text">Create your account</h1>
        <h1 class="user-creation-screen-text1">Enter your Calories goal:</h1>
        <input
          type="text"
          placeholder="Goal Calories"
          inputmode="numeric"
          class="user-creation-screen-textinput input"
          id="cal-goal-field"
        />
        <h1 class="user-creation-screen-text3">Enter the information below:</h1>
        <!-- Account input and password input below -->
        <input
          type="text"
          id="username-field"
          name="username"
          placeholder="username"
          class="user-creation-screen-textinput1 input"
        />
        <!-- <label for ="password-field">password</label> -->
        <input
          type="text"
          id="password-field"
          name="password"
          placeholder="password"
          class="user-creation-screen-textinput2 input"
        />
        <div class="component5-container component5-root-class-name">
          <button id="create-btn" class="component5-button button">
            <span>Create New Account</span>
          </button>
        </div>
        <!-- </form> -->
        <!-- <img
          src="public/playground_assets/screen%20shot%202022-12-08%20at%2012.09.57%20am-200w.png"
          alt="image"
          class="user-creation-screen-image"
        /> -->
      </div>
    </div>
    <div id="message" class="message-container"></div>

    <script>
      const createBtn = document.getElementById("create-btn");

      createBtn.addEventListener("click", (event) => {
        const username = document.getElementById("username-field").value;
        const password = document.getElementById("password-field").value;
        const calGoal = document.getElementById("cal-goal-field").value;

        const userData = {
          username: username,
          password: password,
          calGoal: calGoal
        };

        fetch("/user-creation-screen", {
          method: "POST",
          body: JSON.stringify(userData),
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((response) => {
            if (response.ok) {
              return response.json();
            }

            throw new Error("Network response was not ok.");
          })
          .then(({ code, message }) => {
            const messageBtn = document.getElementById("message");
            messageBtn.innerHTML = message;
            messageBtn.style.display = "flex";
            if (code === 200) {
              window.location.href = "/login-screen"
            }
            setTimeout(() => {
              messageBtn.style.display = "none";
            }, 2000);
          });
      });
    </script>
  </body>
</html>
